<div>
  <ul>
    <ng-template ngFor let-room [ngForOf]="RoomDetails" let-i="index" >
     <br><br>   
      <li>
      Title: {{room.summary}}<br>
      Time: {{room.start_time}} to {{room.end_time}} 
      </li>

      <div>
     
  
    </div>
    </ng-template>
  </ul>
</div>

  <div>
      <circle-progress
      
      [percent]="100"
      [radius]="150"
      [outerStrokeWidth]="50"
      [innerStrokeWidth]="30"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]=runtime
      [unitsFontSize]="60"
      [titleFontSize]="80"
      [subtitleFontSize]="60"
      
      ></circle-progress>

  </div>
  
  