body {
    /* background: -webkit-linear-gradient(left, rgb(255, 102, 0), rgb(197, 60, 26)); 
    background: -o-linear-gradient(right, rgb(255, 102, 0), rgb(197, 60, 26));
    background: -moz-linear-gradient(right, rgb(255, 102, 0), rgb(197, 60, 26)); 
    background: linear-gradient(to right, rgb(255, 102, 0), rgb(197, 60, 26)); 
    background-color: rgb(255, 102, 0);  */
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 30s infinite;
    width:100%;
    height: 67%;
}

/* @-webkit-keyframes colorchange {
    0%  {background: rgb(59, 5, 255);}
   25%  {background: rgb(91, 100, 233);}
   50%  {background: rgb(122, 17, 17);}
   75%  {background: rgb(41, 84, 224);}
   100% {background: rgb(68, 110, 248);}
}
@keyframes colorchange {
    0%  {background: rgb(59, 5, 255);}
    25%  {background: rgb(91, 100, 233);}
    50%  {background: rgb(122, 17, 17);}
    75%  {background: rgb(41, 84, 224);}
    100% {background: rgb(68, 110, 248);}
} */
.floatLeft { width: 30%; float: left; }
.floatRight {width: 65%; float: right; }
.container { overflow: hidden; }
